API_ID = 8201417
API_HASH = 4de3ab03e330698fc1a8fbf2c85b3997
BOT_TOKEN = 5052065768:AAFAkp2ZCGOHZ2bO_LqWAxskD3Nr6-1Z_ek
MONGO_DB_URI = mongodb+srv://Aman:Aman@cluster0.v8vph.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID = -1001501090801
MUSIC_BOT_NAME = MISSAK
STRING_SESSION = BQBMI-cOt71cHF8UyJNZ_ItB2_TKXGZut_gj6scHxrMgOXtTCCiLKsNmbqG0HWBmRZz44IB9y-8cWDckKeREAUAjUfS2dqISemewTrEVS0hMZo3UoV1x1MquGyBCVGUkhTZdhX-85dfaiYuPI-tNvj1BXZuPBz5zg51jQtPkxZ_SGZy56mDagVpypQf02wQgMfTodogw2FARyEk5ZINGG_aBoGDAgAAZSXKbWaatk1qWM969OvqQZr0NLUlQenZQpUYKIx-yw3hxb2otVdvyhzx08UQsnXBJuyLB9THnln3_tCdk4jEyX58PbqrsfEfEGf1wSSNjn6XK8epiQvKqJ41tAAAAATUTEHYA
AUTO_LEAVING_ASSISTANT = True
OWNER_ID = 5083524212
